/*! RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* ------------------------------------------------ */

/*! UTILITIES */

.flex{
    display: flex;
}
.start{
    align-items: flex-start;
}
.vertical{
    flex-direction: column;
    gap: 30px;
}
.space-bet{
    justify-content: space-between;
}
.center{
    justify-content: center;
    align-items: center;
}
.aligncenter{
    align-items: center;
}
.alignstart{
    align-items: flex-start;
}
.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}
.container2{
    width: 50%;
    margin: 0 auto;
    max-width: 1200px;
}
.container3{
    width: 100%;
    margin: 0 auto;
}
img{
    max-width: 100%;
}

/** ------------------------------------------------- */
/** LAYOUT - HEADER */
.header{
    position: fixed;
    background-color: white;
    z-index: 999;
    box-shadow: 5px 5px rgb(180, 208, 231, 0.4);
}

.jumbotron{
    background-color:#B4D0E7 ;
    padding: 50px 0;
}

.header{
    height: 80px;
    width: 100%;
}

.header li{
    padding: 0 20px;

}

.jumbo-info{
    width: 30%;
}

.jumbo-img{
    width: 70%;
    position: relative;
}

.jumbo-img img{
    position: absolute;
    left: 0;
    top: 0;
}
/* -------------------------------------------------------- */
/** LAYOUT - MAIN */

/* type of offer sect */
.offer{
    padding: 150px 0 100px 0;
}

.column-offer{
    width: calc(100% / 3);
    border: solid 1px black;
}

.middle{
    margin: 0 25px;
}

.col-header{
    border-bottom:solid black 1px;
    text-align: center;
    padding: 5px 0;
}

.col-body ul{
    padding: 25px 45px;
}

.icon i{
    padding: 8px 5px 0 0;
}

.fa-check{
    color: #0061FF;
}

/* enterprise sect */
.offer-footer{
    border: solid black 1px;
}
.col-ent{
    width: 60%;
}

.enterprise{
    padding: 25px 45px;
}

.enterprise p{
    padding: 30px 0 10px 0;
}

/* partner sect */
.partner-img{
    width: 60%;
}

.partner-info{
    width: 40%;

    padding: 50px 0 0 30px;
}
.partner-info p{
    padding: 30px 0;
}

/* Business sect */
.business{
    padding: 50px 0 100px 0;
}

.business h2{
    font-size: 35px;
    padding: 30px 0;
}

/* card section */
.column,
.card{
    padding: 20px;
}

.card h4{
    font-size: 20px;
    padding: 20px 0;
}

.card img{
    width: 90%;
}

/* sponsor sect */
.sponsor-col{
    width: calc(100% / 3);
}

.box img{
    width: 40%;
    filter: invert(100%);
}

.box{
    width: calc(100% / 2);
    height: 200px;
}

.box2 img{
    width: 50%;
    padding-bottom: 50px;
}

.box2{

    width: 100%;
    height: 400px;
    padding: 50px;
}

/* call to act sect */
.calltoact{
    padding: 150px 0;
    background-color: #B4D0E7;
}

/* faq sect */
.faq{
    padding: 80px 0;
}

.faq h2{
    padding-bottom: 40px;
    font-size: 30px;
}

.faq li{
    padding: 20px 0;
    font-weight: 600;
}

.faq-icon{
    padding-right: 20px;

}

/** --------------------------------------------------------- */
/** LAYOUT FOOTER */
footer{
    background-color: black;
    color: white;
}

.footer{
    padding: 80px 0;
}

.footer li{
    padding: 10px 0;
}

.footer hr{
    margin: 30px 0;
}

/** ------------------------------------------------------- */

/** HEADER TYPO */
ul li{
    list-style: none;
}

li a,
a{
    text-decoration: none;
    color: inherit;
}

.blu-but{
    background-color:#0061FF ;
    color: white;
    padding: 5px 10px;
}

.blu-but2{
    background-color:#0061FF ;
    color: white;
    padding: 10px 20px;
}
.jumbo-info .blu-but2{
    display: inline-block;
}


.white-but{
    color: rgb(0, 0, 0);
    padding: 10px 40px;
    background-color: white;
}
.white-but-bord{
    border: solid 1px black;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    background-color: white;
}

.title{
    font-size: 60px;
    padding: 40px 0;
}

.darrow{
    font-size: 50px;
}
/** ------------------------------------------------- */
/** MAIN TYPO */
.blu-circle{
    height: 13px;
    width: 13px;
    border: solid 3px blue;
    border-radius: 50%;
    display: inline-block;
}

.white-circle{
    height: 13px;
    width: 13px;
    border: solid 1px black;
    border-radius: 50%;
    display: inline-block;
}

.col-body,
.enterprise{
    font-size: 14px;
    line-height: 35px;
}

.offer h2{
    font-size: 35px;
}

.offer h3,
.col-ent h3{
    font-size: 20px;
}

.offer h2,
.invoice-type,
.row-offer{
    padding: 0 0 40px 0;
}

.month{
    padding: 0 20px 0 0;
}

.divisor{
    border-bottom: solid 1px black;
    padding-bottom: 30px;
}
.try-buy .blu-but2{
    display: inline-block;
    line-height: 15px;
}
.try-buy{
    text-align: center;
}
.buy-now{
    text-decoration: underline;
    color: #0061FF;
}

.business a{
    text-decoration: underline;
    color: #0061FF;
}

.calltoact h2{
    color: darkred;
    font-size: 30px;
    width: 50%;
}
/* sponsor box color */
.designit{
    background-color: #A2D39B;
    border: #D1E9CD solid 10px;
}
.asu{
    background-color: #61082B;
}
.uf{
    background-color: #0093CE;
}
.topps{
    background-color: #FF1C1C;
}
.wbr{
    background-color: #D5001F;
}
.heart{
    background-color: #B4D0E7;
}
.lonely{
    background-color: #0D2481;
}
.clearch{
    background-color: #FFD830;
}
.box2{
    background-color: #F5F5F5;
}
.box2 hr{
    width: 30%;
    margin-bottom: 20px;
}
.col-body hr{
    width: 30%;
    margin-left: 45px;
    margin-top: 45px;
}

/*? FOOTER TYPO */
footer li:first-child{
    font-size: x-large;
}

#lang{
    color:rgb(188, 188, 188);
}

/** ------------------------------------------------------------- */
/** HOVERS ANIMATION */

.column-offer:hover,
.offer-footer:hover{
    transform: scale(104%);
    transition-duration: 1s;
    border: #0061FF solid 3px;
}
.column-offer:hover i,
.offer-footer:hover i,
.column-offer:hover h3,
.offer-footer:hover h3{
    color:#0061FF;
}
.highlight:hover{
    transform:scale(103%);
    transition-duration: 0.5s ;
}

.card:hover{
    border: solid 1px #0061FF ;
    transform: scale(105%);
    transition-duration: 0s;
}
.card:hover h4{
    color: #0061FF;
}

.box:hover img{
    transform: scale(120%);
    transition-duration: 1s;
}
.box2:hover img{
    transform: translateX(50%);
    transition-duration: 2s;
}

.underline:hover{
    border-bottom: #0D2481 solid 5px;
    padding-bottom: 32px;
}
.underline2:hover{
    border-bottom: #0D2481 solid 5px;
    padding-bottom: 28px;
}

.blu-but:hover,
.blu-but2:hover{
    background-color:#5c9aff;
}

.white-but:hover,
.white-but-bord:hover{
    background-color: rgb(233, 233, 233);
}

header:hover .title{

    animation: transition 3s ;
    animation-iteration-count: 1;
}
@keyframes transition{
    /* 0%{filter: opacity(0%);}
    100%{filter: opacity(100%);} */
    0%{color: black;}
    50%{color:#0061FF; transform: scale(110%);}
    100%{color: black; transform: scale(100%);}
}
.answer{
    display: none;
}
.faq-hov:hover .question{
    display: none;
}
.faq-hov:hover .answer{
    display:inline-block;
    font-weight:500 ;
}
.footer a:hover,
.jumbotron .darrow:hover{
    color:#5c9aff;
}
