/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* ------------------------------------------------ */

/* UTILITIES */

.flex{
    display: flex;
}
.space-bet{
    justify-content: space-between;
}
.aligncenter{
    align-items: center;
}
.alignstart{
    align-items: flex-start;
}

.container{
    width: 70%;
    margin: 0 auto;
    max-width: 1100px;

}
.container2{
    width: 50%;
    margin: 0 auto;
    max-width: 1100px;
    /* debug */
    background-color: lightgreen;
}
.container3{
    width: 100%;
    margin: 0 auto;
    /* debug */
    background-color: lightcoral;
}

img{
    max-width: 100%;
}
.flex-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}



/* ------------------------------------------------- */
/* LAYOUT - HEADER */


.jumbotron{
    background-color:#B4D0E7 ;
}

.header{
    height: 80px;
    width: 100%;
}

.header li{
    padding: 0 20px;
}

.jumbo-info{
    width: 30%;
}

.jumbo-img{
    width: 70%;
    position: relative;
}

.jumbo-img img{
    position: absolute;
    right:0;
    bottom: -70px;
}
/* -------------------------------------------------------- */
/* LAYOUT - MAIN */


/* type of offer */
.offer{
    padding: 100px 0;
}

.column-offer{
    width: calc(100% / 3);
    border: solid 1px black;
    margin: 10px;
}
.col-header{
    border-bottom: solid 1px black;
    text-align: center;
    padding: 5px 0;
}
.col-body ul{
    padding: 15px 10px;
    line-height: 35px;
}
.try-buy{
    text-align: center;
}
.icon i{
    padding: 8px 5px 0 0;
}
.offer-footer{
    border: solid black 1px;
}
.col-ent{
    width: 60%;
}
.enterprise{
    padding: 20px 10px;
}
.enterprise p{
    padding: 30px 0 10px 0;
}



.partner-img{
    width: 60%;
}
.partner-info{
    width: 40%;
    padding: 50px 0 0 30px;
}
.partner-info p{
    padding: 30px 0;
}
.sponsor-col{
    width: calc(100% / 3);
    /* deb */
}


/* ------------------------------------------------------- */
/* TYPO */

/* HEADER */
ul li{
    list-style: none;
}

li a,
a{
    text-decoration: none;
    color: inherit;
}

.blu-but{
    background-color:#0061FF ;
    color: white;
    padding: 5px 10px;
}
    
.white-but{
    border: solid black 1px ;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
}

.blu-but2{
    background-color:#0061FF ;
    color: white;
    padding: 5px 40px;
}

.title{
    font-size: 60px;
    padding: 40px 0;
}

.darrow{
    font-size: 50px;
    padding: 0 0 1rem 0;
}
/* ------------------------------------------------- */
/* MAIN */
.blu-circle{
    height: 13px;
    width: 13px;
    border: solid 3px blue;
    border-radius: 50%;
    display: inline-block;
    
}
.white-circle{
    height: 13px;
    width: 13px;
    border: solid 1px black;
    border-radius: 50%;
    display: inline-block;
}
.offer h2,
.invoice-type,
.row-offer{
    padding: 0 0 40px 0;
}
.month{
    padding: 0 20px 0 0;
}

.box{
    width: calc(100% / 2);
    height: 200px;
    /* debug */
    border: solid black;
}
.box2{
    /* debug */
    border: black solid;
    width: 100%;
    height: 400px;
}
.buy-now{
    text-decoration: underline;
    color: #0061FF;
}
